<h1 class="mt-3 mb-3"><%= @user.name%>'s Home</h1>

<h2 class="mb-3"><%= @user.name%>'s Essays:</h2>
    <% @user.essays.each do |essay|%>
        
        <h2><%= essay.title %></h3>
        <p><%= essay.content %></p>
        
    <% end %>

    <br><br>

<h3 class="mb-3"><%= @user.name%>'s Responses:</h3>

    <% @user.responses.each do |response|%>
        <ul>
        <li><p><%= response.content %></p></li>
        <p class="mb-3"><strong>(Written in response to: <%= link_to response.essay.title, essay_path(response)%>)</strong></p><br><br>
        </ul>
    <% end %>
        