<ul class="navbar">
<li><%= link_to "Write a new Essay", new_essay_path %></li>
<li><%= link_to "All Essays", essays_path %></li>
<li><%= link_to "All Responses", responses_path %></li>
<li><%= link_to "All Books", books_path %></li>
<li><%= link_to "Logout", logout_path, method: :delete %></li>
</ul>