<!DOCTYPE html>
<html>
  <head>
    <title>LiteraryEssaysRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if logged_in? %>
  <%= link_to "Home", user_path(session[:user_id]), :class => "navbutton" %>
  <%= link_to "Write a new Essay", new_essay_path, :class => "navbutton" %>
  <%= link_to "Recent Essays", recent_path, :class => "navbutton" %>
  <%= link_to "All Essays", essays_path, :class => "navbutton" %>
  <%= link_to "All Responses", responses_path, :class => "navbutton" %>
  <%= link_to "All Books", books_path, :class => "navbutton" %>
  <%= link_to "Logout", logout_path, method: :delete, :class => "navbutton" %>
  <% end %>


  <body>
    <%= yield %>
  </body>
</html>
